* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}




.carousel-item img {
    width: 100px;
    height: 85vh;

}

h1 {
    font-family: cursive;
    text-align: center;

}

.bg {
    background-color: #9196b5;
}

.card-body img{
    MIN-width: 50%;
    max-height: 200px;
}